/* Header */
header h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  
  header p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  f h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  /* Projects */
  .card {
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1.1rem;
  }
  
  /* Footer */
  footer p {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Animations */
  .animate__animated {
    animation-duration: 1s;
  }
  
  .animate__bounceInDown {
    animation-name: bounceInDown;
  }
  
  .animate__bounceInUp {
    animation-name: bounceInUp;
  }
  
  .animate__fadeIn {
    animation-name: fadeIn;
  }
  